### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
[Cc]opy[\d$].py
*.py[cod]
*$py.class
[Cc]opy[\d$].py
*key.py


.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
